<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA5gHnOqo5Y69olB7Riab1JdakfcpEhVlA</string>
	<key>GCM_SENDER_ID</key>
	<string>978288533294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.todo</string>
	<key>PROJECT_ID</key>
	<string>todo-zyf9lx</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-zyf9lx.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:978288533294:ios:1f3d5dda0d9323d25a64bf</string>
</dict>
</plist>